.Card {
  max-width: 700px;
  min-height: auto;
  border-radius: 20px;
  background-color: #316dbc;
  /* background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%); */
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.TemperatureSection {
  grid-column: 1/3;
  text-align: center;
  border-right: 1px solid white;
  padding-left: 2rem;
}

.DateSection {
  grid-column: 3/6;
  font-weight: 300;
  justify-self: center;
  text-align: center;
}

.IconSection {
  grid-column: 6;
  justify-self: end;
  font-size: 7rem;
  padding-right: 2rem;
  align-self: center;
}

.IconSection img {
  width: 100px;
}

.ConditionText {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.TempC {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}

.TextTime {
  font-weight: 300;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.LocationText {
  font-size: 2em;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}
.CardSunny {
  max-width: 700px;
  max-height: 180px;
  border-radius: 20px;
  background-color: #f35333;
  background-image: linear-gradient(19deg, #f04933 0%, #e89049 100%);
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.CardRain {
  max-width: 700px;
  max-height: 180px;
  border-radius: 20px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #213a3fea 0%, #5272a7 100%);
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.CardPartlyCloudy {
  max-width: 700px;
  max-height: 180px;
  border-radius: 20px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #3b394e 0%, #9599e2 100%);
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.CardCloudy {
  max-width: 700px;
  max-height: 180px;
  border-radius: 20px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

@media screen and (max-width: 510px) {
  .Card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }

  .CardCloudy {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }

  .CardRain {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
  }
  .TemperatureSection {
    border: none;
    padding: 0;
  }
  .IconSection {
    padding: 0;
  }

  .LocationText {
    padding: 0;
  }
}
