.Card {
  max-width: 700px;
  height: 180px;
  border-radius: 20px;
  background-color: #c06c84;
  /* background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%); */
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.TemperatureSection {
  grid-column: 1/3;
  text-align: center;
  border-right: 1px solid white;
  padding-left: 2rem;
}

.DateSection {
  grid-column: 3/6;
  font-weight: 300;
  justify-self: center;
  text-align: center;
}

.IconSection {
  grid-column: 6;
  justify-self: end;
  font-size: 7rem;
  padding-right: 2rem;
  align-self: center;
}

.IconSection img {
  width: 100px;
}

.ConditionText {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.TempC {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}

.TextTime {
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

.LocationText {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}

.CardRain {
  width: 700px;
  height: 180px;
  border-radius: 20px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.CardCloudy {
  width: 700px;
  height: 180px;
  border-radius: 20px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
